POSTGRES_USER=admin
POSTGRES_PASSWORD=your_password_here
RABBITMQ_USER=admin
RABBITMQ_PASS=your_password_here
JWT_ACCESS_SECRET=your_access_secret_here
JWT_REFRESH_SECRET=your_refresh_secret_here
GRAFANA_PASSWORD=your_grafana_password_here
